.btn{
  display: inline-block;
  font-weight: 200;
  box-sizing: border-box;
  border: 2px solid color('gray',80);
  color: color('gray',80);
  background: none;
  padding: 8px 30px;
  text-align: center;
  font-size: 1em;
  vertical-align: middle;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  *{
    vertical-align: middle;
  }

  &:hover{
    background: rgba(color('gray',10),0.4);
  }
}




.btn-success{
  border: 2px solid $success;
  color: color('green',80);

  &:hover{
    background: rgba(color('green',10),0.4);
  }
}

.btn-warning{
  border: 2px solid $warning;
  color: color('yellow',80);

  &:hover{
    background: rgba(color('yellow',10),0.4);
  }
}

.btn-danger{
  border: 2px solid $danger;
  color: color('red',80);

  &:hover{
    background: rgba(color('red',10),0.4);
  }
}

.btn-info{
  border: 2px solid $info;
  color: color('blue',80);

  &:hover{
    background: rgba(color('blue',10),0.4);
  }
}

.btn-comment{
  border: 2px solid $comment;
  color: color('gray',80);

  &:hover{
    background: rgba(color('gray',10),0.4);
  }
}








/////////////////////////////////////
// Download button
/////////////////////////////////////
// Button Sizes
$btnH: 4rem;
$btnD: 4rem;
$btnW: 15rem;


// Base Button Styles

.download-wrap,
.download-wrap *,
.download-wrap *:before,
.download-wrap *:after{
  box-sizing: border-box;
}
.button,
[class*='button-']{
  background: color('green',50);
  display: inline-block;
  padding: 1rem 2rem;
  color: color('green',5);
  font: 200 1.5rem $sans;
  text: {
    transform: lowercase;
    decoration: none;
    align: left;
  }
  transition: 0.4s linear all;

  &:hover{
    background: color('green',60);
  }
}


// Download Button

.download-wrap{
  perspective: 80rem;
  perspective-origin: 50% 50% 0;
  display: block;
  padding: 7rem 0;
  background: color('metal',85);
}

.download{
  position: relative;
  width: $btnW;
  height: $btnH;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  transform: rotateX(0deg);
  transition: 0.2s linear all;

  margin: 0 auto;

  &.is-active{
    transform: rotateX(90deg) translateZ($btnH/2);
  }
}

.button-download{
  position: relative;
  width: $btnW; height: $btnH;
  font: {
    size: 1.5rem;
    weight: 200;
  }
  line-height: $btnH;
  padding: 0 2rem;
  transform-origin: top center;
}

// Download Icon

.icon-wrap{
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  width: $btnH;
  padding: 1.66rem 0.5rem 0;
  background: rgba(color('green',95), 0.1);
}

.icon-download{
  position: relative;
  display: block;
  width: 2.5rem; height: 1rem;
  margin: auto;
  border: solid 0.5rem color('green',5);
  border-top: none;

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    animation: icon-bounce .5s infinite alternate;
  }

  &:before{
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: color('green',5);
  }

  &:after{
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -0.125rem;
    width: 0;
    height: 0;
    border-left: solid 0.5rem transparent;
    border-right: solid 0.5rem transparent;
    border-top: solid 0.5rem color('green',5);
  }
}


// Animations

@keyframes icon-bounce {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}