table{
  @media (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){

    // Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr{
      display: block;
      trborder: 1px solid color('gray',20);
    }

    // Hide table headers (but not display: none, for accessibility)
    thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td{
      // Behave  like a "row"
      border: none !important;
      position: relative !important;
      padding-left: 35% !important;

      &:last-child{
        border-bottom: 1px solid color('gray',10) !important;
      }

      &:before{
        // Now like a table header
        position: absolute !important;
        // Top/left values mimic padding
        top: 17px !important;
        left: 2% !important;
        width: 30% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
      }

      &:first-child:before{
        top: 29px !important;
      }
    }
  }
}