////////////////////////////////
//
//   | size  | min    | max    |
//   |-------|--------|--------|
//   | xxs   |        | 320    |
//   | xs    | 320    |        |
//   | sm    | 640    |        |
//   | md    | 768    |        |
//   | lg    | 1012   |        |
//   | xl    | 1200   |        |
//   | xxl   | 1400   |        |
//   |-------------------------|
//
////////////////////////////////


.row{
  padding: 0 0.5em;
  box-sizing: border-box;
  clear: both;
}

////////////////////////////////
// Wearables
////////////////////////////////
@media (max-width: 320px){
  .xxs-show{
    display: initial;
  }
  .xxs-hide{
    display: none;
  }
  @for $i from 1 through 12{
    .xxs-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .xxs-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xxs-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xxs-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}



////////////////////////////////
// Mobile (iPhone4 - Galaxy S5)
////////////////////////////////
@media (min-width: 320px){
  .xs-show{
    display: initial;
  }
  .xs-hide-up{
    display: none;
  }
  @for $i from 1 through 12{
    .xs-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .xs-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xs-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xs-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}
@media (max-width: 640px){
  .xs-hide-down{
    display: none;
  }
}



////////////////////////////////
// Mobile (landscape iPhone 6 & iPhone 6+)
////////////////////////////////
@media (min-width: 640px){
  .sm-show{
    display: initial;
  }

  .sm-hide-up{
    display: none;
  }
  @for $i from 1 through 12{
    .sm-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .sm-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .sm-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .sm-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}
@media (max-width: 768px){
  .sm-hide-down{
    display: none;
  }
}



////////////////////////////////
// Tablet (iPad & vertical Galaxy & Kindle)
////////////////////////////////
@media (min-width: 768px){
  .md-show{
    display: initial;
  }
  .md-hide-up{
    display: none;
  }
  @for $i from 1 through 12{
    .md-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .md-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .md-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .md-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}
@media (max-width: 1012px){
  .md-hide-down{
    display: none;
  }
}



////////////////////////////////
// Tablet (landscape Galaxy & Kindle)
////////////////////////////////
@media (min-width: 1012px){
  .lg-show{
    display: initial;
  }
  .lg-hide-up{
    display: none;
  }
  @for $i from 1 through 12{
    .lg-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .lg-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .lg-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .lg-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}
@media (max-width: 1200px){
  .lg-hide-down{
    display: none;
  }
}



////////////////////////////////
// Laptop & Monitor
////////////////////////////////
@media (min-width: 1200px){
  .xl-show{
    display: initial;
  }
  .xl-hide-up{
    display: none;
  }
  @for $i from 1 through 12{
    .xl-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .xl-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xl-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xl-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}
@media (max-width: 1400px){
  .xl-hide-down{
    display: none;
  }
}



////////////////////////////////
// Monitor
////////////////////////////////
@media (min-width: 1400px){
  .xxl-show{
    display: initial;
  }
  .xxl-hide{
    display: none;
  }
  @for $i from 1 through 12{
    .xxl-#{$i}{
      width: calc((100% * (#{$i} / 12)));
      padding: 0 0.5em;
      box-sizing: border-box;
    }
  }
  @for $i from 0 through 11{
    .xxl-offset-#{$i}{
      @if($i == 0){
        margin-left: #{$i};
      } @else{
        margin-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xxl-padding-left-#{$i}{
      @if($i == 0){
        padding-left: #{$i};
      } @else{
        padding-left: calc((100% * (#{$i} / 12)));
      }
    }

    .xxl-padding-right-#{$i}{
      @if($i == 0){
        padding-right: #{$i};
      } @else{
        padding-right: calc((100% * (#{$i} / 12)));
      }
    }
  }
}