.d-block {
  display: block;
}
.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}


.d-hidden {
  display: none;
}


.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
}
.d-table-row {
  display: table-row;
}


// Completely remove from the flow but leave available to screen readers.
.d-hidden-visually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}