//---------- RESET ----------//
@import "constants/meyerweb-reset";


//---------- COLORS ----------//
@import "colors/color-palette";
// use -> color('denim',50)

@import "colors/social-colors";
// use -> map-get($social-colors, github)

@import "colors/ibm-colors";
// use -> ibmColor('denim',50)

$snow: #fffafa;

$success: color('green',40);
$warning: color('yellow',30);
$danger: color('red',40);
$info: color('blue',40);
$comment: color('gray',40);



//---------- FUNCTIONS ----------//





//---------- ANIMATION ----------//
@mixin keyframes($name){
  @-webkit-keyframes $name{
    @content;
  }
  @-moz-keyframes $name{
    @content;
  }
  @-ms-keyframes $name{
    @content;
  }
  @-o-keyframes $name{
    @content;
  }
  @keyframes $name{
    @content;
  }
}

@include keyframes(spin-right){
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



//---------- IMPORTS ----------//
// Colors
@import "colors/patterns";

// Constants
@import "constants/grid";
@import "constants/flexbox";
@import "constants/typography";
@import "constants/utility";

// Components
@import "components/buttons";
@import "components/color-grid";
@import "components/inputs";
@import "components/modal";
@import "components/side-nav";
@import "components/tables";





//---------- GENERAL STYLES ----------//
body{
  margin: 0;
  overflow-x: hidden;
  background: $snow;
}

table{
  text-align: left;
}